.row-top-space{
  margin-top : 20px
}

.row-bottom-space{
  margin-bottom : 20px
}

.navtitle{
	margin-right : 50 px;
}
.card{
  border : 0px;
}
.card-header{
  background-color: #3D3B3C;
  color : #C1BDB3 ;
}

.nav-link{
  color: #C1BDB3;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #7F7979;
}

ul.nav a:hover {
    color : #fff ;
}

.progress-bar {
  background-color: #5F5B6B;
}

html body{
  background-color: #C1BDB3;
}

.subpanel{
  margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border : 2px;
    border-style: solid;
}
.subpanel-header{
    float: right;
  text-align: center;
  padding-right : 5px;
  background-color: #000000;
  color : #FFFFFF;
  width:20%;
}

.pull-right {
    float: right !important; // Use of important emulates bootstrap
}

.nowcol{
  margin-top:10px;
	border: #cdcdcd medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
