body{

  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
}

.map {

        height: 100vh
      }

      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */


      /* The side navigation menu */

      .sidenav{
        height: 0%; /* 100% Full-height */
        width: 0%;
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        background-color: #111; /* Black*/
        overflow-y: auto; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }

      /* The navigation menu links */
      .sidenav a {
      /*  padding: 8px 8px 8px 32px;*/
        text-decoration: none;
        font-size: 25px;
        display: block;
        transition: 0.3s;
      }

      .sidenav .closebtn {
        position: absolute;
        padding: 0px 0px 0px 0px;
        top: 0px;
        right: 10px;
        font-size: 32px;
      }

      .movieTitle{
        color:white;
      }

      .movieSceneDescription{
        color:grey;
      }

      .detailPanelLabel{
        color:#D3D3D3;
        font-size : 19px;
      }

      .movieDescription{
        color:grey;
        padding-left: 5px;
      }

      .moviePoster{
        width: auto;
        height: 100%;
        max-height: 20vh;
        float : left;
      }

      hr{
        border: 1px solid white;
      }

      .marker {
        background-image: url('images/cinema-15-active.jpg');
        background-size: cover;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
      }

      .subpanel{
        margin-top: 5px;
          border : 2px;
          border-style: solid;
      }
      .subpanel-header{
          float: right;
        text-align: center;
        padding-right : 5px;
        background-color: grey;
        color : #000000;
        width:20%;
      }



      .panel-heading{
        background-color: grey;
      }

.accordion-toggle{
  color:white;
  margin-left : 0;
}

.sidePanelLandscape{
  border-right : 1em solid grey;
}

.sidePanelLandscapeOpen{
  width : 33%;
  height : 100%;
}

.sidePanelLandscapeCollapsed{
  width : 0%;
  height : 100%;
}

.sidePanelPortrait{
    border-top : 1em solid grey;
}

.sidePanelPortraitOpen{
    width : 100%;
    height : 33%;
}

.sidePanelPortraitCollapsed{
  width : 100%;
  height : 0%;
}

.collapseBtnPortrait{
  border : none;
  background-color: black;
  color : white;
  font-weight: bold;
  float : none;
  width : 100%;
}

.collapseBtnLandscape{
  border : none;
  background-color: black;
  color : white;
  font-weight: bold;
  float : right;
  height : 100%;
}

.detailPanelContainer{
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto; /* Disable horizontal scroll */
}

.collapseBtn{
  position : sticky;
  top:0;
  z-index:1;
  display: inline;
}
